header{
    height: 100px;
    width: 100%;
    position: sticky;
    background-color: #F95961;
    display: flex;
}
.icon{
    width: 100px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
}
.menu{
    display: flex;
    height: 30px;
    margin-left: 40%;
    margin-top: 20px;
}

.menu li{
    margin: 0 10px;
    padding: 10px 20px;
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-family: italic ;
    font-size: 18px;
}